{% extends 'base.html' %}

{% block content %}
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/home.css' %}">
    {% block styles %}
        <link rel="stylesheet" href="{% static 'styles/bootstrap.min.css' %}">
    {% endblock %}
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
  </head>
  <body>
    <main class="layout layout--3">
      <div class="container">
        {% include 'topics_component.html' %}

        <div class="roomList">
          <div class="mobile-menu">
          </div>

          <div class="roomList__header">
            <div>
              <h2>Chat Room</h2>
              <p>{{room_count}} rooms available</p>
            </div>
            <a class="btn btn--main" href="{% url 'create_room' %}">
            </a>
          </div>
          {% include 'feed_component.html' %}
        </div>

        {% include 'activity_component.html' %}
      </div>
    </main>
  </body>
{% endblock content %}
