<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/base.css' %}">
    {% block styles %}
        <link rel="stylesheet" href="{% static 'styles/bootstrap.min.css' %}">
    {% endblock %}
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <title>{% block title %}FinWise{% endblock %}</title>
</head>
<body>
    <header class="header">
        <div class="header-content">
            <h1 class="site-title">FinWise</h1>
            <h2 class="site-slogan">Dream Thrive Repeat</h2>
            {% if user.is_authenticated %}
                <div class="user-buttons">
                    <a href='{% url "logout" %}' class="btn btn-primary btn-sm" role="button">Logout</a>
                    <a href="{% url 'buy_stocks' %}" class="btn btn-primary btn-sm" role="button">Buy stocks</a>
                    <a href="{% url 'sell_stocks' %}" class="btn btn-primary btn-sm" role="button">Sell stocks</a>
                    {% comment %} <a href="{% url 'chat' %}" class="btn btn-primary btn-sm" role="button">Home</a> {% endcomment %}
                </div>
            {% else %}
                <div class="guest-buttons">
                    {% if '/register' in request.path %}
                        <a href='{% url "login" %}' class="btn btn-primary" role="button">Login</a>
                    {% elif '/login' in request.path %}
                        <a href='{% url "register" %}' class="btn btn-primary" role="button">Register</a>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </header>

    <div class="main-content">
        {% block content %}{% endblock content %}
    </div>

    <footer class="footer">
        <p>&copy; {% now "Y" %} FinWise. All rights reserved.</p>
    </footer>
</body>
</html>
